<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logofinal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YGC"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.YGC.NoActionBar" />
        <activity
            android:name=".passReset"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false"
            tools:node="merge" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            tools:node="merge" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:exported="false"
            android:resource="@array/preloaded_fonts"
            tools:node="merge" />
    </application>

</manifest>